{
    "web": {
        "client_id": < your client id goes here >,
        "client_secret": < your client secret goes here >,
        "redirect_uris": [],
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token"
    }
}